* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-image: url('./media/Bamboo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  /*color: #61dafb;*/
  color: red;
  font-family: 'shojumaru', sans-serif;
}

.shojumaru {
  font-family: 'Shojumaru', cursive;
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}
