* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-image: url('./media/Bamboo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*color: #61dafb;*/
  color: black;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

h1, h2, h3 {
  font-family: 'Shojumaru', cursive;
  color: red;
}

.shojumaru {
  font-family: 'Shojumaru', cursive;
}

.ubuntu {
  font-family: 'Ubuntu', sans-serif;
}

.websiteLogo {
  height: auto;
  width: 60%;
}

.link {
  color: red;
  font-size: 24px;
}

.profileImage {
  height: auto;
  width: 60%;
  border: 5px solid  rgba(15,225,245,1);
  border-radius: 50%;
}

.hexagon {
  overflow: hidden;
  clip-path: polygon(50% 0, 95% 30%, 95% 70%, 50% 95%, 0 70%, 0 30%);
}
